* {
    margin: 0;
    padding: 0;
}

/* 容器 */
.container{
    width: 100%;
    height: auto;
}



.daohanlan {
    background-color: #000000;
    opacity: 0.9;
    position: fixed;
    z-index: 5;
    margin-top: 0%;
    width: 100%;
    height: 8%;

}

.daohanlanp {
    margin-left: 6%;
    font-size: 2vw;
    margin-right: -2%;
    width: 13%;
    text-align: center;
    color: white;
    font-family: "黑体" ;
    line-height: 8vh;
    transition: .2s ease;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
    display: inline-block;
}
.daohanlanp:hover {
    background-color: #525456;
}
.daohanlanp:active {
    transform: scale(0.9);
}
.ship {
    width: 100%;
    top: 8%;
    z-index: -5;
    position: fixed;
    position: absolute;
    
}

.loge {
    width: 43%;
    margin-left: -4%;
    z-index: 1;
    max-width: 100%;
    top: 14%;
    position: fixed;
    position: absolute;
    transition: .4s ease;
}
.loge:hover {
    transform: scale(0.9);
}


.renw {
    object-fit: cover;
    margin-left:45%;
    width: 10%;
    margin-top: 62%;
    margin-right: 10%;
    z-index: 1;
    position: fixed;
    position: absolute;
}
.beij1 {
    margin-top: 60%;
    z-index: -5;
    position: fixed;
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 56vw;
    border: 3px solid #000;
}
.beij2 {
    margin-top: 105%;
    z-index: -5;
    position: fixed;
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 46vw;
    border: 1px solid #000;
}
.beij3 {
    margin-top: 151%;
    z-index: -5;
    position: fixed;
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 46vw;
    border: 1px solid #000;
}
.beij4 {
    margin-top: 197%;
    z-index: -5;
    position: fixed;
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 46vw;
    border: 1px solid #000;
}
.beij5 {
    margin-top: 243%;
    z-index: -5;
    position: fixed;
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 46vw;
    border: 1px solid #000;
}
.jueshe {
    position: absolute;
    margin-left: 19%;
    margin-top: 68%;
    width: 60%;
    background-color: rgba(75,75,75,0.31);
    border-radius: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    z-index: 4;
}
.jueshe1 {
    position: absolute;
    margin-left: 19%;
    margin-top: 105%;
    width: 60%;
    background-color: rgba(75,75,75,0.31);
    border-radius: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    z-index: 4;
}
.containerimg{
    width: 50%;
}
.containerimg img{
    width: 100%;
}
.guang {
    margin-top: 1%;
    margin-right: 60%;
    width: 40%;
    transition: .3s ease;
}
.p1 {
    color: white;
    font-family: '黑体';
    top: 1%;
    left: 41%;
    font-size: 4vw;
    position: absolute;
}
.p11 {
    color: white;
    font-family: '黑体';
    top: 18%;
    left: 38%;
    font-size: 2vw;
    position: absolute;
    
}
.p2 {
    color: white;
    font-family: '黑体';
    top: 1%;
    left: -58%;
    font-size: 4vw;
    position: absolute;
}
.p22 {
    color: white;
    font-family: '黑体';
    top: 18%;
    left: -58%;
    font-size: 2vw;
    position: absolute;
}
.pp {
    color: white;
    font-family: '黑体';
    top: -22%;
    left: -141%;
    font-size: 2vw;
    position: absolute;
    text-shadow: 2px 2px 4px #000000;
    /* 竖排文字 */
    writing-mode: vertical-rl;
    transition: all 2s ease;
}
.pp:hover{
    transform: rotate3d(0, 1, 0, 199deg);
}
.pp1 {
    color: white;
    font-family: '黑体';
    top: -61%;
    left: 134%;
    font-size: 2vw;
    position: absolute;
    text-shadow: 2px 2px 4px #000000;
    /* 竖排文字 */
    writing-mode: vertical-rl;
    transition: all 2s ease;
}
.pp2 {
    color: white;
    font-family: '黑体';
    top: -10%;
    font-size: 2vw;
    position: absolute;
    text-shadow: 2px 2px 4px #000000;
        /* 竖排文字 */
        writing-mode: vertical-rl;
        transition: all 2s ease;
        margin-left: -159%;
    
}
.pp2:hover {
    /* 3D */
    transform: rotate3d(0, 1, 0, 199deg);
}
.pp1:hover {
    transform: rotate3d(0, 1, 0, 199deg);
}
.p3d {
    transform-style:preserve-3d;
    height: 100%;
}
.h5 {
    color: white;
    width: 100%;
    margin-top: 36%;
    line-height: 100%;
    text-align: center;
    font-size: 2vw;
    display: inline-block;
}
.h51 {
    color: white;
    width: 100%;
    margin-top: 36%;
    line-height: 100%;
    font-size: 2vw;
    left: -92%;
    text-align: center;
    display: inline-block;
    position: absolute;
}
.guang:hover {
    transform:scale(1.2);
}
.duili {
    transition: .3s ease;
    margin-top: 1%;
    margin-left: 119%;
    width: 40%;
}
.duili:hover {
    transform:scale(1.2);
}
.gengd {
    object-fit: cover;
    margin-left:45%;
    width: 10%;
    margin-top: 142%;
    margin-right: 10%;
    z-index: 1;
    position: fixed;
    position: absolute;
    transition: all .2s ease;
}
.gengd:active {
    transform: scale(0.7);
}
.gushi {
    object-fit: cover;
    margin-left:45%;
    width: 10%;
    margin-top: 154%;
    margin-right: 10%;
    z-index: 1;
    position: fixed;
    position: absolute;
}
.gequ {
    object-fit: cover;
    margin-left:45%;
    width: 10%;
    margin-top:259%;
    margin-right: 10%;
    z-index: 1;
    position: fixed;
    position: absolute;
}
.daohanland {
    background-color: #000000;
    opacity: 0.9;
    position: absolute;
    z-index: 5;
    margin-top: 25%;
    width: 100%;
    height: 9%;

}
.daohanlandp {
    margin-left: 6%;
    font-size: 2vw;
    margin-right: -2%;
    width: 13%;
    text-align: center;
    color: white;
    font-family: "黑体";
    line-height: 8vh;
    transition: .2s ease;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
    display: inline-block;
}
.loge-f {
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
    width: 10vw;
}
