
.qq {
display: inline-block;
margin-top: 264%;
}
.gequ1 {
    margin-left: 10%;
    margin-top: -1%;
}
.box-m {
    margin-left: -60%;
}
.geql {
    width: 15%;
    transition: all 15s ease;
    border-radius: 50%;
    left: 5%;
    position: absolute;


}
.geql:hover {
    transform: rotate(2turn);
}
.mp31 {
    margin-top: 15%;
    width: 25vw;
    margin-left: 0%;
    position: absolute;
} 

.gequ2 {
    margin-left: 10%;
    margin-top: -1%;

}
.box-m {
    margin-left: -60%;
}
.geq2 {
    width: 15%;
    transition: all 15s ease;
    border-radius: 50%;
    left: 30%;
    position: absolute;

}
.geq2:hover {
    transform: rotate(2turn);
}
.mp32 {
    margin-top: 15%;
    width: 25vw;
    margin-left: 25%;
    position: absolute;
} 


